[Unit]
Description=Runs backfill_image_placeholders job
[Service]
ExecStart=/usr/bin/docker run \
        --rm \
        --network host \
        --log-driver=journald \
        --env-file=/root/.env-production \
        recipeyak/django:{{GIT_SHA}} \
        ./.venv/bin/python -m recipeyak.jobs.backfill_image_placeholders --no-dry-run
[Install]
WantedBy=multi-user.target
