[Unit]
Description=Run algolia_sync on cron every 12 hours
[Timer]
Unit=recipeyak-algolia_sync.service
OnBootSec=12hours
OnUnitActiveSec=12hours
[Install]
WantedBy=timers.target
