[Unit]
Description=Runs remove_old_checklists job
[Service]
ExecStart=/usr/bin/docker run \
        --rm \
        --network host \
        --log-driver=journald \
        --env-file=/root/.env-production \
        recipeyak/django:{{GIT_SHA}} \
        ./.venv/bin/python -m recipeyak.jobs.remove_old_checklists
# kill after 10 minutes
TimeoutSec=600
[Install]
WantedBy=multi-user.target
