[Unit]
Description=Runs algolia sync job once
[Service]
ExecStart=/usr/bin/docker run \
        --rm \
        --network host \
        --log-driver=journald \
        --env-file=/root/.env-production \
        recipeyak/django:{{GIT_SHA}} \
        ./.venv/bin/python -m recipeyak.jobs.live_search_sync --single-run
KillSignal=SIGINT
# kill after 2 minutes
TimeoutSec=120
[Install]
WantedBy=multi-user.target
