DJANGO_SECRET_KEY=
DATABASE_URL=postgres://postgres@localhost:5432/postgres?connect_timeout=10

EMAIL_HOST=smtp.mailgun.org
EMAIL_HOST_USER=server@example.com
EMAIL_HOST_PASSWORD=

OAUTH_GITHUB_CLIENT_ID=
OAUTH_GITHUB_SECRET=
OAUTH_GITHUB_REDIRECT_URI=http://localhost:3000/accounts/github

OAUTH_GOOGLE_CLIENT_ID=
OAUTH_GOOGLE_SECRET=
OAUTH_GOOGLE_REDIRECT_URI=http://localhost:3000/accounts/google

OAUTH_GITLAB_CLIENT_ID=
OAUTH_GITLAB_SECRET=
OAUTH_GITLAB_REDIRECT_URI=http://localhost:3000/accounts/gitlab

SENTRY_DSN=https://<key>:<secret>@sentry.io/<project>
FRONTEND_SENTRY_DSN=https://<key>@sentry.io/<project>

# pgdump
POSTGRES_DB_NAME=recipeyak
POSTGRES_BACKUP_S3_BUCKET=recipeyak-backups
POSTGRES_HOST_NAME=localhost
POSTGRES_USERNAME=steve
POSTGRES_PORT=5432
PGDUMP_CRON_SCHEDULE=*/10 * * * *
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
