mockup.pdf
db.sqlite3
venv/
.cache/
.mypy_cache
.coverage
.coverage.*
dist/
.asset-cache
frontend/jest_0
backup
__pycache__
backend/.pytest_cache
docker-compose-shipit.yml
.terraform/
# allow .env at root for PYTHONPATH config
!.env
.env-*
*/**/*env*
