[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[packages]
djangorestframework = "==3.7.7"
Django = "==2.0.2"
dj-database-url = "==0.4.2"
django-allauth = "==0.35.0"
drf-nested-routers = "==0.90.0"
Pint = "==0.8.1"
gunicorn = "==19.7.1"
"psycopg2" = "==2.7.3.2"
raven = "==6.5.0"
python-json-logger = "==0.1.8"

[dev-packages]
pytest = "==3.4.0"
pytest-watch = "==4.1.0"
pytest-cov = "==2.5.1"
pytest-django = "==3.1.2"
ipython = "==6.2.1"
ipdb = "==0.10.3"
mypy = "==0.570"
"flake8" = "==3.5.0"
"flake8-formatter-junit-xml" = "==0.0.5"
