[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[requires]

python_version = "3.6"


[packages]

djangorestframework = "*"
Django = "*"
dj-database-url = "*"
django-allauth = "*"
drf-nested-routers = "*"
Pint = "*"
gunicorn = "*"
"psycopg2" = "*"
raven = "*"


[dev-packages]

pytest = "*"
pytest-watch = "*"
"pytest-flake8" = "*"
pytest-mypy = "*"
pytest-cov = "*"
pytest-django = "*"
ipython = "*"
ipdb = "*"
