apipkg==1.4
argh==0.26.2
colorama==0.3.9
Django==1.11.4
docopt==0.6.2
execnet==1.4.1
pathtools==0.1.2
py==1.4.34
pytest==3.2.0
pytest-django==3.1.2
pytest-watch==4.1.0
pytest-xdist==1.18.2
pytz==2017.2
PyYAML==3.12
watchdog==0.8.3
