## The following requirements were added by pip freeze:
apipkg==1.4
appnope==0.1.0
argh==0.26.2
certifi==2017.7.27.1
chardet==3.0.4
colorama==0.3.9
decorator==4.1.2
defusedxml==0.5.0
Django==1.11.4
django-allauth==0.32.0
django-rest-auth==0.9.1
djangorestframework==3.6.3
docopt==0.6.2
execnet==1.4.1
idna==2.5
ipdb==0.10.3
ipython==6.1.0
ipython-genutils==0.2.0
jedi==0.10.2
oauthlib==2.0.2
pathtools==0.1.2
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
py==1.4.34
Pygments==2.2.0
pytest==3.2.0
pytest-django==3.1.2
pytest-watch==4.1.0
pytest-xdist==1.18.2
python3-openid==3.1.0
pytz==2017.2
PyYAML==3.12
requests==2.18.3
requests-oauthlib==0.8.0
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.2
urllib3==1.22
watchdog==0.8.3
wcwidth==0.1.7
