@media (min-width: 730px) {
  .home-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
}

@media (max-width: 730px) {
  .home-hero-text {
    text-align: center;
    line-height: 5rem;
  }
}

.home-hero-text {
  font-size: 4rem;
}

@media (min-width: 920px) {
  .home-hero-text {
    font-size: 5rem;
    text-align: left;
  }
}

@media (min-width: 1300px) {
  .home-hero-text {
    font-size: 7rem;
    text-align: left;
  }
}



@for $i from 1 through 10 {
  .fs-#{$i}rem {
    font-size: #{$i}rem !important;
  }
}

.grid-entire-row {
  display: grid;
  grid-column: 1 / -1;
}

.home-signup {

}

.align-self-center {
  align-self: center;
}

.fw-bold {
  font-weight: bold;
}

.fw-normal {
  font-weight: normal !important;
}

.font-family-serif {
  font-family: Charter, georgia, serif;
}
