html {
  background-image: url('../../public/background-texture.png');
}

nav.nav,
section.section {
  background-color: transparent;
}

nav.nav {
  height: initial;
}

// override bulma
section.section {
  padding: 1.5rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// make new lines actual appear
.pre {
  white-space: pre;
}

// fix width of tags so buttons aren't pushed around when numbers decrease/increase
.cart-count-tag {
  width: 40px;
}

.justify-space-between,
.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.align-center {
  display: flex;
  align-items: center;
}

.d-flex {
  display: flex;
}

.p-rel {
  position: relative;
}

@for $i from 0 through 4 {
  .pl-#{$i} {
    padding-left: #{$i/4}rem;
  }
  .pr-#{$i} {
    padding-right: #{$i/4}rem;
  }
}

.direction-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}
