html {
  background-image: url('../../public/background-texture.png');
}

nav.nav,
section.section {
  background-color: transparent;
}

// override bulma
section.section {
  padding: 1.5rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// make new lines actual appear
.pre {
  white-space: pre;
}

// fix width of tags so buttons aren't pushed around when numbers decrease/increase
.cart-count-tag {
  width: 40px;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.align-center {
  display: flex;
  align-items: center;
}

.d-flex {
  display: flex;
}

.direction-column {
  flex-direction: column;
}
