.nav > .nav-center {
  flex-grow: 1;

  & > .nav-item {
    width: 100%;
  }
}
.nav > .nav-right,
.nav > .nav-left {
  flex-grow: 2;
}

// bulma override
div.nav-item img {
  max-height: none;
}

nav.nav {
  margin-top: 10px;
}

// bulma override
.user-profile {
  cursor: pointer;
  user-select: none;
  padding-left: 0;
  padding-right: 0;

  &-image {
    background-color: rgb(240, 240, 240);
    height: 45px;
    width: 45px;
    margin: 5px;
    border-radius: 100%;
    max-height: none;
  }
}

.dropdown {
  display: none;
  position: absolute;
  border-radius: 3px;
  top: 100%;
  right: 0;
  z-index: 100;
  cursor: default;
  background-color: white;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);

  &.active {
    display: block;
  }

  .dropdown-item {
    align-items: center;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 1rem;
    justify-content: start;
    line-height: 1.5;
    padding: 0.5rem 0.75rem;
  }

  .dropdown-item__dark {
    background-color: #ece9e9;
  }
}


a.better-nav-item {
  align-items: center;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 1rem;
  justify-content: center;
  line-height: 1.5;
  padding: 0.5rem 0.75rem;
  font-weight: bold;
  font-family: Charter, georgia, serif;
  color: #4a4a4a;
  transition: all 0.1s;

  &:hover {
    color: lighten(#4a4a4a, 10%);
  }

  &:active {
    transform: translateY(1px);
  }
}
