.nav > .nav-center {
  flex-grow: 1;

  & > .nav-item {
    width: 100%;
  }
}
.nav > .nav-right,
.nav > .nav-left {
  flex-grow: 2;
}

.search-container {
  position: relative;
  flex-grow: 2;
}

p.field.search-box-container {
  margin-bottom: 0;
  // box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.search-results {
  position: absolute;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
  margin: 0.25rem;
}

.search-results > li {

}

// bulma override
div.overflow-initial {
  overflow: initial;
}

// bulma override
div.nav-item img {
  max-height: none;
}

nav.nav {
  margin-top: 10px;
}

// bulma override
.user-profile {
  position: relative;
  cursor: pointer;
  user-select: none;

  &-image {
    height: 45px;
    width: 45px;
    margin: 5px;
    border-radius: 100%;
    max-height: none;
  }
}

.dropdown {
  display: none;
  position: absolute;
  border-radius: 3px;
  top: 100%;
  left: 0;
  z-index: 100;
  cursor: default;
  margin-top: 5px;
  background-color: white;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);

  &.active {
    display: block;
  }
}

