@import './main.scss';

.flex-center {
  display: flex;
  justify-content: center;
}

.tags > .tag {
  margin-right: 0.35rem;
}

.tags {
  margin-bottom: 0.75rem;
}

$danger: #ff3860;

$border-color: #dbdbdb;

$darkdesertsand: darken($desertsand, 30%);
$desertsand-shadow: transparentize($darkdesertsand, 0.2);

.my-textarea,
.my-input {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: none;
  font-size: 1rem;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: top;
  background-color: white;
  border-color: $border-color;
  color: #363636;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  width: 100%;
  outline: none;
  transition: all 0.2s;

  &:focus {
    border-color: $darkdesertsand;
    box-shadow: 0 0 5px 0px $desertsand-shadow;
  }

  &.is-danger {
    border-color: $danger;
  }
}

.my-textarea {
  display: block;
  max-height: 600px;
  max-width: 100%;
  min-height: 120px;
  min-width: 100%;
  padding: 0.625em;
  resize: vertical;
}

.my-box {
  display: block;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  padding: 1.25rem;
}

.my-button {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: top;
  user-select: none;
  background-color: white;
  border-color: $border-color;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-left: 0.75em;
  padding-right: 0.75em;
  text-align: center;
  white-space: nowrap;
  outline: none;
  transition: all 0.2s;

  &:active {
    transform: translateY(1px);
    border-color: $darkdesertsand;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
  }

  &:focus {
    border-color: $darkdesertsand;
    box-shadow: 0 0 5px 0px $desertsand-shadow;
  }

  &:hover {
    border-color: $darkdesertsand;
  }

  &.is-large {
    font-size: 1.5rem;
  }

  &.is-primary {
    $primary-color: darken($desertsand, 25%);
    background-color: $primary-color;
    border-color: transparent;
    color: #fff;

    &:active {
      background-color: darken($primary-color, 10%) !important;
      box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
    }

    &:hover:not([disabled]) {
      background-color: darken($primary-color, 5%);
    }

    &:focus {
      box-shadow: 0 0 5px $desertsand-shadow;
    }
  }

  &[disabled] {
    box-shadow: none;
    opacity: 0.5;
    cursor: not-allowed;
  }


}

.c-danger {
  color: $danger;
}
