.input--file {
  font-size: 1rem;
}

.file-upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: whitesmoke;
  border: 2px dashed lightgray;
}
