.ticker {
  &--inner {
    font-family: monospace;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-top: calc(0.375em - 1px);
    position: relative;
    vertical-align: top;
    user-select: none;
    background-color: whitesmoke;
    border-color: #dbdbdb;
    color: #363636;
    justify-content: center;
    padding-left: 0.75em;
    padding-right: 0.75em;
    cursor: default;
    text-align: center;
    white-space: nowrap;
  }
}
