.has-text-grey-light {
  color: hsl(0, 0%, 71%);
}

.cart-container {
  display: grid;
  grid-gap: 1rem;
}

@media (min-width: 700px) {
  .cart-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
