@import "./variables.scss";
@import "~bulma/sass/utilities/initial-variables.sass";

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.d-grid {
  display: grid;
}

.p-relative,
.p-rel {
  position: relative;
}

.p-abs,
.p-absolute {
  position: absolute;
}

.t-100 {
  top: 100%;
}

.right-0,
.r-0 {
  right: 0;
}

@for $i from 0 through 8 {
  .r-#{$i} {
    right: #{$i/4}rem !important;
  }
}

@for $i from 0 through 4 {
  .pl-#{$i} {
    padding-left: #{$i/4}rem !important;
  }
  .pt-#{$i} {
    padding-top: #{$i/4}rem !important;
  }
  .pr-#{$i} {
    padding-right: #{$i/4}rem !important;
  }
  .pb-#{$i} {
    padding-bottom: #{$i/4}rem !important;
  }
  .p-#{$i} {
    padding: #{$i/4}rem !important;
  }
}

@for $i from 0 through 8 {
  @for $j from 0 through 8 {
    .p-#{$i}-#{$j} {
      padding: #{$i/8}rem #{$j/8} !important;
    }
  }
}

@for $i from 0 through 16 {
  .ml-#{$i} {
    margin-left: #{$i/4}rem !important;
  }
  .mt-#{$i} {
    margin-top: #{$i/4}rem !important;
  }
  .mr-#{$i} {
    margin-right: #{$i/4}rem !important;
  }
  .mb-#{$i} {
    margin-bottom: #{$i/4}rem !important;
  }
}

@for $i from 0 through 32 {
  .fs-#{$i} {
    font-size: #{$i/4}rem !important;
  }
}

.text-small {
  font-size: 0.875rem !important;
}

.flex-column,
.flex-direction-column,
.direction-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center,
.justify-self-center {
  justify-self: center;
}

.justify-self-right {
  justify-self: right;
}

.justify-self-end {
  justify-self: end;
}

.justify-self-left {
  justify-self: left;
}

.justify-between,
.space-between,
.justify-space-between,
.flex-space-between {
  justify-content: space-between;
}

.align-items-start {
  align-items: start;
}

.align-items-center,
.align-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.fs-italic {
  font-style: italic;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.grid-template-column-2-1fr {
  grid-template-columns: repeat(2, 1fr);
}

.grid-auto-rows-min-content {
  grid-auto-rows: min-content;
}

@for $i from 0 through 4 {
  .grid-gap-#{$i} {
    grid-gap: #{$i/4}rem;
  }

  .grid-gap-#{$i}rem {
    grid-gap: #{$i}rem;
  }
}

.grid-column-1 {
  grid-column: 1;
}

.grid-column-2 {
  grid-column: 2;
}

.grid-row-1 {
  grid-row: 1;
}

.max-width-400px {
  max-width: 400px;
}

@for $i from 0 through 16 {
  .max-width-#{$i} {
    max-width: #{$i/4}rem;
  }
}

.margin-0-auto {
  margin: 0 auto;
}

// make new lines actual appear
.pre {
  white-space: pre;
}

.white-space-nowrap {
  white-space: nowrap;
}

.c-danger {
  color: $danger;
}

@for $i from 1 through 10 {
  .fs-#{$i}rem {
    font-size: #{$i}rem !important;
  }
}

@for $i from 1 through 10 {
  .mt-#{$i}rem {
    margin-top: #{$i}rem !important;
  }
}

@for $i from 1 through 10 {
  .border-radius-#{$i},
  .br-#{$i} {
    border-radius: #{$i}px !important;
  }
}

.br-10-percent {
  border-radius: 10%;
}

.br-100 {
  border-radius: 100%;
}

.br-20rem {
  border-radius: 20rem;
}

.grid-entire-row {
  grid-column: 1 / -1;
}

.grid-row-4 {
  grid-row: 4;
}

.align-self-center {
  align-self: center;
}

.align-self-start {
  align-self: flex-start;
}

.bold,
.fw-bold {
  font-weight: bold;
}

.fw-500 {
  font-weight: 500;
}

.is-italic,
.italic {
  font-style: italic;
}

.fw-normal {
  font-weight: normal !important;
}

.flex-grow-1,
.flex-grow {
  flex-grow: 1;
}

.h-100 {
  height: 100% !important;
}

.w-100,
.width-100 {
  width: 100%;
}

@for $i from 0 through 8 {
  .w-#{$i} {
    width: #{$i/4}rem;
  }
}

@each $i in (120px, 200px, 350px, 400px, 50px) {
  .w-#{$i},
  .width-#{$i} {
    width: $i;
    min-width: $i;
  }
}

@for $i from 1 through 4 {
  .w-#{$i}rem {
    width: #{$i}rem;
  }
}

.w-300px-if-not-sm {
  width: 100%;
  @media (min-width: $small) {
    width: 300px;
    min-width: 300px;
  }
}

.cursor-move {
  cursor: move;
}

.cursor-pointer {
  cursor: pointer;
  // need to override all of the default cursors that come with the default
  // user stylesheet
  & > * {
    cursor: pointer;
  }
}

.cursor-default,
.pointer-default {
  cursor: default;
}

.bg-whitesmoke {
  background-color: whitesmoke;
}

.bg-white {
  background-color: white;
}

.height-100 {
  height: 100%;
}

.min-width-2rem {
  min-width: 2rem;
}

.max-height-20vh {
  max-height: 20vh;
}

.max-height-25vh {
  max-height: 25vh;
}

.box-shadow-normal {
  box-shadow: 0 2px 15px rgba(10, 10, 10, 0.17), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.fill-text-color {
  fill: $text-color;
}

.fill-white {
  fill: white;
}

.light-text-color {
  color: lighten($text-color, 20%);
  // needed for the dead fish
  & > * {
    stroke: lighten($text-color, 20%);
  }
}

.text-underline,
.text-decoration-underline {
  text-decoration: underline;
}

.text-decoration-none {
  text-decoration: none !important;
}

.bg-primary {
  background-color: $primary-color !important;
}

.bg-primary-shadow {
  background-color: $primary-color-shadow !important;
}

.color-white {
  color: white;
}

.bg-50-50-primary {
  background: linear-gradient(to bottom, white 50%, $primary-color 50%);
}

.filter-saturate-140 {
  filter: saturate(140%);
}

.hide-sm {
  @media (max-width: $small) {
    display: none;
  }
}

.break-word {
  word-break: break-word;
}

@for $i from 0 through 10 {
  .br-#{$i}p {
    border-radius: #{$i}0%;
  }
}

.min-height-75px {
  min-height: 75px;
}

.vertical-align-middle {
  vertical-align: middle;
}

.table-spacing {
  border-spacing: 0 1rem;
  border-collapse: separate;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.text-muted {
  color: $grey;
}

.z-index-100 {
  z-index: 100;
}

.min-width-0 {
  min-width: 0;
  width: unset;
}

.min-height-content {
  min-height: min-content;
}

.min-width-max-content {
  min-width: max-content;
}

.grid-auto-rows-unset {
  grid-auto-rows: unset !important;
}
