@import './variables.scss';

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.d-grid {
  display: grid;
}

.p-relative,
.p-rel {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.right-0,
.r-0 {
  right: 0;
}

@for $i from 0 through 4 {
  .pl-#{$i} {
    padding-left: #{$i/4}rem !important;
  }
  .pt-#{$i} {
    padding-top: #{$i/4}rem !important;
  }
  .pr-#{$i} {
    padding-right: #{$i/4}rem !important;
  }
  .pb-#{$i} {
    padding-bottom: #{$i/4}rem !important;
  }
}

@for $i from 0 through 8 {
  @for $j from 0 through 8 {
    .p-#{$i}-#{$j} {
      padding: #{$i/8}rem #{$j/8} !important;
    }
  }
}

.p-0 {
  padding: 0 !important;
}

@for $i from 0 through 4 {
  .ml-#{$i} {
    margin-left: #{$i/4}rem !important;
  }
  .mt-#{$i} {
    margin-top: #{$i/4}rem !important;
  }
  .mr-#{$i} {
    margin-right: #{$i/4}rem !important;
  }
  .mb-#{$i} {
    margin-bottom: #{$i/4}rem !important;
  }
}


@for $i from 0 through 8 {
  .fs-#{$i} {
    font-size: #{$i/4}rem !important;
  }
}

.direction-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center,
.justify-self-center {
  justify-self: center;
}

.justify-self-right {
  justify-self: right;
}

.justify-space-between,
.flex-space-between {
  justify-content: space-between;
}

.align-items-start {
  align-items: start;
}

.align-items-center,
.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.fs-italic {
  font-style: italic;
}

.justify-content-center {
  justify-content: center;
}

.grid-template-columns-repeat-12-fr {
  grid-template-columns: repeat(12, 1fr);
}

.grid-gap-4,
.grid-gap-1rem {
  grid-gap: 1rem;
}

.max-width-400px {
  max-width: 400px;
}

.margin-0-auto {
  margin: 0 auto;
}

// make new lines actual appear
.pre {
  white-space: pre;
}

.c-danger {
  color: $danger;
}


@for $i from 1 through 10 {
  .fs-#{$i}rem {
    font-size: #{$i}rem !important;
  }
}

@for $i from 1 through 10 {
  .mt-#{$i}rem {
    margin-top: #{$i}rem !important;
  }
}

.grid-entire-row {
  grid-column: 1 / -1;
}

.grid-row-4 {
  grid-row: 4;
}

.align-self-center {
  align-self: center;
}

.bold,
.fw-bold {
  font-weight: bold;
}

.is-italic,
.italic {
  font-style: italic;
}

.fw-normal {
  font-weight: normal !important;
}

.font-family-serif {
  font-family: $font-family-serif;
}

.font-family-title {
  font-family: $font-family-title;
}

.flex-grow {
  flex-grow: 1;
}

.w-100,
.width-100 {
  width: 100%;
}

@for $i from 0 through 8 {
  .w-#{$i} {
    width: #{$i/4}rem;
  }
}

.cursor-pointer {
  cursor: pointer;
  // need to override all of the default cursors that come with the default
  // user stylesheet
  & > * {
    cursor: pointer;
  }
}

.bg-whitesmoke {
  background-color: whitesmoke;
}

.height-100 {
  height: 100%
}

.min-width-2rem {
  min-width: 2rem;
}

.box-shadow-normal {
  box-shadow: 0 2px 15px rgba(10, 10, 10, 0.17), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.fill-text-color {
  fill: $text-color;
}
