@import "./variables.scss";

.home-subtitle {
  font-size: 3rem;

  @media (min-width: 920px) {
    font-size: 4.5rem;
    text-align: left;
  }
}

.home-hero-text {
  text-align: center;
  font-size: 4rem;
  line-height: 4rem;
  // chosen empirically
  max-width: 900px;
}

.home-container {
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
}

.feature-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(1, 1fr);
  font-size: 2rem;

  @media (min-width: 841px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 841px) {
    .grid-column-2 {
      grid-column: unset;
    }
    .grid-row-1 {
      grid-row: unset;
    }
  }
}
