@import "./variables.scss";

.home-subtitle {
  font-size: 3rem;

  @media (min-width: 920px) {
    font-size: 4.5rem;
    text-align: left;
  }
}

.home-hero-text {
  font-size: 3rem;

  @media (min-width: 630px) {
    font-size: 4rem;
  }

  @media (max-width: 841px) {
    text-align: center;
    line-height: 5rem;
  }

  @media (min-width: 920px) {
    font-size: 5rem;
    text-align: left;
  }

  @media (min-width: 1300px) {
    font-size: 5.5rem;
    text-align: left;
  }
}

.big-link {
  background-color: transparentize($primary-color, 0.5);
  border-radius: 5px;
  padding: 0 10px;
}

.recent-recipes-grid {
  display: grid;
  grid-gap: 1rem;
}

.home-page-grid {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  @media (min-width: 730px) {
    display: grid;
  }
}

.stat {
  font-size: 1.5rem;

  @media (min-width: 660px) {
    font-size: 2rem;
  }

  @media (min-width: 991px) {
    font-size: 2.25rem;
  }

  @media (min-width: 1300px) {
    font-size: 2.75rem;
  }
}

.stat-small {
  font-size: 1.5rem;

  @media (min-width: 660px) {
    font-size: 1.75rem;
  }

  @media (min-width: 991px) {
    font-size: 2rem;
  }
}
