.listitem-button-container {
  display: flex;
  justify-content: space-between;
}

.listitem-text {
  white-space: pre-wrap;
  line-height: 1.25rem;
  padding-bottom: 0.25rem;
  .on-hover {
    display: none;
  }
  &:hover {
    .on-hover {
      display: block;
    }
  }
}
