// https://github.com/ConnorAtherton/loaders.css/blob/0325ac583bd60f5f763eab1afdc9d9ab46fe7562/src/animations/ball-grid-pulse.scss
@keyframes ball-grid-pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.5);
    opacity: 0.7;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.ball-grid-pulse {
  display: grid;
  padding: 2px;
  width: 57px;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2px;

  $delays: (0.07s, 1.52s), (-0.16s, 1.32s), (0.57s, 1.25s), (0.7s, 1.41s),
    (0.01s, 1.46s), (0.73s, 0.75s), (0.29s, 0.76s), (0.23s, 0.73s),
    (-0.11s, 0.62s);

  @for $i from 1 through length($delays) {
    $val: nth($delays, $i);

    $delay: nth($val, 1);
    $duration: nth($val, 2);

    > div:nth-child(#{$i}) {
      animation-delay: #{$delay};
      animation-duration: #{$duration};
    }
  }

  > div {
    background-color: transparentize(darken($primary-color, 7%), 0.1);
    width: 15px;
    height: 15px;
    border-radius: 100%;
    animation-fill-mode: both;
    animation-name: ball-grid-pulse;
    animation-iteration-count: infinite;
  }
}
