@import "./variables.scss";

$primary: $primary-color;

@import "../../bulma.sass";

@import "./buttons.scss";
@import "./inputs.scss";
@import "./helpers.scss";

@import "./nav.scss";
@import "./ListItem.scss";
@import "./Notification.scss";
@import "./home.scss";
@import "./Recipe.scss";
@import "./schedule.scss";
@import "./search.scss";

html {
  height: 100%;
  font-size: $base-font-size;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;

  --color-background: rgb(185, 110, 52);
  --color-text: rgb(74, 74, 74);

  color: var(--color-text);

  background-color: var(--color-background);
}

body {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

kbd {
  padding: 0.1rem 0.2rem;
  background-color: whitesmoke;
  border-radius: 4px;
  border: 1px solid lightgray;
  border-bottom-width: 2px;
}

nav.nav,
section.section {
  background-color: transparent;
}

// override bulma
section.section {
  padding: 1.5rem;
}

// bulma override since small buttons are hard to read with the font weight
.is-small {
  font-weight: 600;
  select {
    font-weight: 600;
  }
}

a {
  color: $link-color;
  transition: color 0.2s;

  @media (hover: hover) {
    &:hover {
      color: lighten($link-color, 5%);
      text-decoration: underline;
    }
  }
}

.tabs {
  @extend .tabs;

  .is-active > a {
    color: inherit !important;

    @media (hover: hover) {
      &:hover {
        color: darken($text-color, 20%) !important;
        transition: color 0.2s;
      }
    }
  }

  &:not(.is-normal) {
    a {
      padding: 0.25em 0.75em;
    }
  }

  a {
    text-decoration: none;
  }
}

.better-label {
  font-weight: bold;
  margin-right: 0.75rem;
}

.ingredients-preparation-grid {
  grid-column: 1/-1;
  display: grid;
  gap: 1rem;

  @media (min-width: 800px) {
    grid-template-columns: minmax(350px, 3fr) 5fr;
  }
}

.meta-data-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 0.5rem;
}

.add-ingredient-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0.5rem;
}

.recipe-grid,
.grid-container {
  display: grid;
  // support two columns on iOS.

  @media (max-width: 449px) {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 0.5rem;
  }
  @media (min-width: 450px) {
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 1rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0;
}

.card-content {
  @extend .card-content;
  padding: 0.5rem;
}

@media print {
  .no-print,
  .card,
  .my-button,
  .my-input,
  img,
  nav {
    display: none !important;
  }

  .text-muted {
    color: black !important;
  }

  body {
    border-top: none !important;
    color: black !important;
  }

  html {
    font-size: $printing-font-size;
  }

  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  label,
  p {
    color: black !important;
  }

  @page {
    margin-bottom: 1rem;
  }

  .box {
    border: none;
    box-shadow: none;
    padding: 0;
    font-size: 10px;
  }

  .ingredients-preparation-grid {
    gap: 0.5rem;
    grid-template-columns: minmax(350px, 3fr) 5fr;
  }
}
