@import "./variables.scss";

$primary-color: adjust-hue(tomato, 5deg);
$primary-color-shadow: transparentize($primary-color, 0.2);
$primary: $primary-color;
$border-color: #dbdbdb;

$text-color: #4a4a4a;

// bulma reset
@import "./reset.scss";
// actual bulma css
@import "../../bulma.sass";
// actual tailwind css
// we're not using the tailwind reset, didn't like how it setup ::placeholder color
@tailwind components;
@tailwind utilities;

:root {
  // theme-light
  --color-background: white;

  --color-primary: #{$primary-color};
  --color-primary-button-text: var(--color-background);
  --color-primary-shadow: #{$primary-color-shadow};
  --color-primary-active: #ff5f2e;
  --color-primary-disabled: #e03500;

  --color-text: #{$text-color};
  --color-text-muted: rgba(115, 115, 115, 1);
  --color-text-disabled: var(--color-text);

  --color-input-placeholder: var(--color-text-muted);

  --color-link: var(--color-text);
  --color-link-hover: var(--color-link);

  --color-border: #{$border-color};

  --color-accent: rgb(255, 114, 71);

  --color-danger: #ff3860;
  --color-danger-button-text: white;
  --color-danger-disabled: #{darken(#fb5274, 20%)};

  --color-background-card: var(--color-background);
  --color-background-calendar-day: whitesmoke;
  --color-background-calendar-item: var(--color-background);
  --color-background-empty-image: rgb(227, 227, 227);
  --color-modal-background: rgba(10, 10, 10, 0.57);

  --margin-calendar-item-bottom: 0.5rem;
}

.theme-autumn {
  --color-background: rgb(185, 110, 52);

  --color-primary: #e37857;
  --color-primary-button-text: white;
  --color-primary-shadow: #{$primary-color-shadow};
  --color-primary-active: var(--color-primary);
  --color-primary-disabled: #b86349;

  --color-text: rgb(237, 237, 237);
  --color-text-muted: var(--color-text);
  --color-text-disabled: rgb(185, 185, 185);

  --color-input-placeholder: rgb(208, 197, 180);

  --color-border: #{$border-color};
  --color-accent: hsla(15, 50%, 82%, 0.865);

  --color-danger: #fb5274;
  --color-danger-button-text: white;
  --color-danger-disabled: #{darken(#fb5274, 20%)};

  --color-background-card: rgb(188, 133, 92);
  --color-background-calendar-day: var(--color-background-card);
  --color-background-calendar-item: rgb(188, 133, 92);
  --color-background-empty-image: var(--color-background-card);

  --margin-calendar-item-bottom: 0rem;
}

.theme-solarized {
  --color-background: #fdf6e3;

  --color-primary: #b58900;
  --color-primary-button-text: white;
  --color-primary-shadow: var(--color-primary);
  --color-primary-active: var(--color-primary);
  --color-primary-disabled: var(--color-primary);

  --color-text: #{$text-color};
  --color-text-muted: rgba(115, 115, 115, 1);
  --color-text-disabled: var(--color-text);

  --color-input-placeholder: #b1b1b1;

  --color-border: #93a1a1;
  --color-accent: #657b83;

  --color-danger: #dc322f;
  --color-danger-button-text: white;
  --color-danger-disabled: #{darken(#dc322f, 20%)};

  --color-background-card: var(--color-background);
  --color-background-calendar-day: #eee8d5;
  --color-background-calendar-item: var(--color-background);
  --color-background-empty-image: var(--color-background-calendar-day);

  --margin-calendar-item-bottom: 0.5rem;
}

html {
  height: 100%;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;

  color: var(--color-text);

  background-color: var(--color-background);
}

body {
  color: var(--color-text);
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

kbd {
  color: var(--color-text);
  padding: 0.1rem 0.2rem;
  background-color: var(--color-background);
  border-radius: 4px;
  border: 1px solid var(--color-border);
  border-bottom-width: 2px;
}

nav.nav,
section.section {
  background-color: transparent;
}

// override bulma
section.section {
  padding: 1.5rem;
}

a {
  color: inherit;

  @media (hover: hover) {
    &:hover {
      color: var(--color-link-hover);
      text-decoration: underline;
    }
  }
}

// hide native chrome pickers
input::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="date"]::-webkit-input-placeholder {
  visibility: hidden !important;
}
