@import './variables.scss';
@import './buttons.scss';
@import './inputs.scss';
@import './loader.scss';
@import './helpers.scss';

@import './nav.scss';
@import './ListItem.scss';
@import './Notification.scss';
@import './home.scss';
@import './cart.scss';

html {
  height: 100%;
  border-top: 3px solid $accent;
}

.dark-mode {
  background-color: white;
  filter: invert(90%);
  background-color: rgb(25, 25, 25);

  // inverted images look weird
  img {
    filter: invert(90%);
  }
}

nav.nav,
section.section {
  background-color: transparent;
}

nav.nav {
  height: initial;
}

// override bulma
.tabs li.is-active a {
  color: inherit;
}

// override bulma
section.section {
  padding: 1.5rem;
}

a {
  color: $link-color;
  transition: color .2s;

  &:hover {
    color: lighten($link-color, 5%);
    text-decoration: underline;
  }
}

.better-label {
  font-weight: bold;
  margin-right: .75rem;
}

.ingredients-preparation-grid {
  grid-column: 1/-1;
  display: grid;
  grid-gap: 1rem;

  @media (min-width: 800px) {
    grid-template-columns: minmax(350px, 3fr) 5fr;
  }
}

.meta-data-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 0.5rem;
}

.add-ingredient-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 1rem;
}

.feature-grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(1, 1fr);
  font-size: 2rem;

  @media (min-width: 841px) {
    grid-template-columns: repeat(2, 1fr);
    font-size: 2.5rem;
  }

  @media (max-width: 841px) {
    .grid-column-2 {
      grid-column: unset;
    }
    .grid-row-1 {
      grid-row: unset;
    }
  }

}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0;
}
