.nav {
  height: initial;
  justify-content: center;

  @media (min-width: 500px) {
    justify-content: space-between;
  }
}

// bulma override
.user-profile {
  $user-profile-size: 30px;

  cursor: pointer;
  user-select: none;
  padding-left: 0;
  padding-right: 0;

  &-image {
    background-color: rgb(240, 240, 240);
    height: $user-profile-size;
    width: $user-profile-size;
    min-width: $user-profile-size;
    margin: 5px;
    border-radius: 100%;
    max-height: none;
  }
}

.better-nav-item {
  $nav-item-text-color: #4a4a4a;
  align-items: center;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 14px;
  justify-content: center;
  line-height: 1.5;
  padding: 0.5rem 0.75rem;
  font-weight: 500;
  color: var(--color-text);
  cursor: pointer;
  text-decoration: none;
  transition: all 0.1s;

  @media (hover: hover) {
    &:hover {
      color: var(--color-link-hover);
      text-decoration: underline;
    }
  }

  &:active {
    transform: translateY(1px);
  }

  &.active {
    text-decoration: underline;
  }
}
