@import "./variables.scss";

.note-container {
  z-index: 101;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.note {
  margin: 1rem;
  border-radius: 5px;
  z-index: 101;

  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  animation: fadein 0.5s;
  cursor: default;

  border-width: 1px;
  border-style: solid;

  .close {
    height: 30px;
    width: 30px;
    border-radius: 100%;

    user-select: none;
    font-size: 1.2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0.2;
    transition: opacity 0.1s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      opacity: 0.3;
    }

    &:active {
      opacity: 0.45;
    }
  }
}

.success {
  border-color: $success;
  background-color: $success;
  color: white;
}

.info {
  border-color: $info;
  background-color: $info;
  color: white;
}

.warning {
  border-color: $warning;
  background-color: $warning;
}

.danger {
  border-color: $danger;
  background-color: $danger;
  color: white;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
