@import "./variables.scss";

.has-text-grey-light {
  color: hsl(0, 0%, 71%);
}

.schedule-height {
  @media (min-width: $small) {
    height: calc(100vh - #{$nav-height});
  }
}

.d-medium-block {
  @media (max-width: $medium) {
    display: block !important;
  }
}

.closer {
  color: white;
  transition: color 0.2s;
  &:hover {
    color: lighten($text-color, 30%);
  }
}

// hide native chrome pickers

input::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="date"]::-webkit-input-placeholder {
  visibility: hidden !important;
}
