.social-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-gap: 0.5rem;
}

.or-bar {
  flex-grow: 1;
  margin-right: 10px;
  margin-left: 10px;
  border-bottom: 1px solid $border-color;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}
