$border-color: #dbdbdb;

$success: rgb(99, 203, 137);
$danger: #ff3860;
$info: #1695A3;
$warning: #EB7F00;

$blue: #316fea;
$orange: rgb(255, 182, 79);

$text-color: #4a4a4a;

$font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-family-title: Avenir, Futura, Lato, sans-serif;
$font-family-serif: Charter, georgia, serif;

$primary-color: adjust-hue(tomato, 5deg);
$primary-color-dark: darken($primary-color, 10%);
$primary-color-shadow: transparentize($primary-color, 0.2);

$link-color: $text-color;

$accent: $primary-color;
