$border-color: #dbdbdb;

$base-font-size: 16px;
$printing-font-size: 14px;

$success: rgb(99, 203, 137);
$danger: #ff3860;
$info: #1695a3;
$warning: #eb7f00;

$blue: #316fea;
$gray: #ddd;
$orange: rgb(255, 182, 79);

$text-color: #4a4a4a;

$primary-color: adjust-hue(tomato, 5deg);
$primary-color-dark: darken($primary-color, 10%);
$primary-color-shadow: transparentize($primary-color, 0.2);

$link-color: $text-color;

$accent: $primary-color;

$small: 630px;
$medium: 992px;

// HACK(sbdchd): so that the schedule page doesn't scroll / overflow
$nav-height: 65px;
$search-and-tab-height: 30px;
