.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  margin-left: 10px;
  margin-right: 10px;
}

.input {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
  &-title {
    width: 100%;
    font-size: 2rem;
  }
  &-author {
    width: 300px;
  }
  &-source {
    width: 300px;
  }
  &-time {
    width: 120px;
  }
  &-ingredient {
    width: 100%;
  }
  &-label {
    display: flex;
    align-items: center;
    .input-time {
      margin-left: 10px;
    }
  }
}
