.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
  .grid-item > & {
    margin-bottom: 0;
  }
}


.grid-entire-row {
  display: grid;
  grid-column: 1 / -1;
}

.justify-center {
  justify-self: center;
}
