html {
  background-image: url('../public/background-texture.png');
}

nav.nav,
section.section {
  background-color: transparent;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// make new lines actual appear
.pre {
  white-space: pre;
}

// fix width of tags so buttons aren't pushed around when numbers decrease/increase
.cart-count-tag {
  width: 40px;
}
