<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe Yak</title>
    <meta
      property="og:description"
      content="A place to save, create, and share recipes."
    />
    <meta property="og:title" content="{{ recipe_title }}" />
    <link
      rel="apple-touch-icon"
      href="https://recipeyak.imgix.net/recipeyak-logo-3x-white.png"
    />

    <meta content="{{ recipe_title }}" />
    <script data-initial="{{ initial }}"></script>
    <!-- if development -->
    <script type="module">
      import RefreshRuntime from "http://localhost:5173/@react-refresh";
      RefreshRuntime.injectIntoGlobalHook(window);
      window.$RefreshReg$ = () => {};
      window.$RefreshSig$ = () => (type) => type;
      window.__vite_plugin_react_preamble_installed__ = true;
    </script>
    <script type="module" src="http://localhost:5173/@vite/client"></script>
    <script type="module" src="http://localhost:5173/src/main.tsx"></script>

    <style>
      .no-script {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        font-family: charter, georgia;
        font-size: 2rem;
      }
    </style>
  </head>
  <body>
    <noscript class="no-script">
      <section>
        <h1>Recipe Yak</h1>
        <p>You need to enable JavaScript to run this app.</p>
      </section>
    </noscript>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
