@import "../scss/variables.scss";

.grid-week {
  grid-template-columns: repeat(7, 1fr);
}

.grid-2-months {
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.day-of-week {
  font-weight: bold;
  font-size: 0.75rem;
  justify-self: center;
}

.end-date {
  background-color: $primary-color-shadow;
}

.cal-day:not(.cal-in-past) {
  transition: background-color 0.02s;
  &:hover {
    background-color: lighten(lightgray, 5%);
  }
}

// hide native chrome pickers
input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-input-placeholder {
  display: none !important;
}
