[Unit]
Description=Runs backfill_image_placeholders job
[Service]
ExecStart=/usr/bin/docker run --rm --network recipeyak --log-driver=journald --env-file=/root/.env-production recipeyak/django:97625ae875b0abb40ed6bb18a0527b74015db483 ./.venv/bin/python recipeyak/jobs/backfill_image_placeholders.py --no-dry-run
[Install]
WantedBy=multi-user.target
